body{
  margin:0;
  padding:0;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

 .my-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  width:750px;
  border:2px solid black;
  border-radius: 10px;
}
h1{
  margin:15px
}

.kg-row{
  width: 100%;
  display:flex
}

.col5{
width:40%;
height: 60px;
margin:5px


}
.col2{
  width:20%;
 height: 60px;
 margin:5px;
 
}

.my-col{
  width:100%;
  height: 50px;
  padding:2px;
  font-size: 20px;
  text-align: left;

}
.my-btn{
  width:130px;
  height: 50px;
  text-align: center;
  background-color: darkgreen;
  color:white;
  box-sizing: content-box;
  cursor: pointer;
}

.todo-container{
  display: flex;
  flex-direction: column;
}

.red{
  background-color: rgb(222, 29, 29);
}